{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

{% endblock %}

{% block content %}
    <!-- Your index.html content here -->
    <body>
        <div class="container">
        <section class="hero">
            <div class="hero-content">
                <h1>Discover a world of amazing products and services.</h1>
            </div>
        </section>
        <div>
            <div>
                <div class="product-list">
                    {% for item in products %}
                    <div class="product-card">
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                        <h3>{{ item.title[:30] + '...' }}</h3>
                        <p>{{ item.description[:50] + '...' }}</p>
                        <p>Price: ${{ item.price }}</p>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </body>
    

{% endblock %}
