{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}

  <div id="login-container">
        <h1>Login</h1>
        {% if error %}
        <div class="error-message">{{ error }}</div>
        {% endif %}
        <form method="post" action="/login">
            <label>Email:</label><br>
            <input type="email" name="email" value="{{ email }}" required autocomplete="off"class="textbox">
            <br>
            <label>Password:</label>
            <input type="password" name="password" required autocomplete="new-password"class="textbox"><br>
            <button type="submit" id="login-button">Login</button>
          </form>
  </div>
    {% endblock %}